OPENAI_API_KEY=sk-proj
GANN_API_KEY=gann_
GANN_BASE_URL=https://api.gnna.io

BASEROW_API_TOKEN=
BASEROW_EMPLOYEE_TABLE_ID=
BASEROW_URL=https://api.baserow.io

ENTERPRISE_AGENT_ID=

EMBED_MODEL=text-embedding-3-small

KB_PATH=
KB_SIMILARITY_THRESHOLD=0.45 